
<%- include ('./partials/header') %>


<!-- <div ><a href="http://s11.flagcounter.com/more/qWF"><img class="ex9 img img-responsive" src="https://s11.flagcounter.com/count2/qWF/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_195/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a></div> -->


<%if(letters.length!=0){%>
  <%
  countries={}
  <!-- console.log(countries) -->
  countryLetters.forEach((letter)=>{
    country=letter.to
    <!-- console.log(country) -->
    if(countries[country] !=undefined){
      countries[country]= countries[country]+1
    }else{
      countries[country]=1
    }
  })
  %>
  
  <div class="b"><h2>We all are in this together</h2></div>

  <div class="container">
    <p>Country wise count of received letters</p>
      <%
      for(key in countries){
        value= countries[key]%>
        <span class="countryCount capitalize"><a href="/country/<%= key %>"> <%=key%>( <%= value %>) </a> </span>
      <%}%>
  
    </div>

<div class="a"><h2><b>Latest Letters</b></h2></div>

<div class="container">
  <div class="card-columns">
    <% letters.forEach((letter)=>{ %>
      <div class="card bg-light">
          <ul class="list-group list-group-flush">
          <li class="list-group-item capitalize">From: <%= letter.from%> </li>
          <li class="list-group-item capitalize">TO: <%= letter.to%></li>
          </ul>
          <div class="card-body text-left">
          <p class="card-text">
            <%= letter.content.substring(0,100) %> ....
          </p>
          <a class="btn btn-primary "  href="/show/<%= letter._id%>">read more </a>
          </div>
          </div>
    <% }) %>
  </div>
</div>
<%}else{%>
  <div class="container" > 

    <h1 class="missing-country" > There are no letters written for this country yet. Please write one :) </h1>
  </div>
<% } %>
<%- include ('./form') %>
 
<%- include ('./partials/footer') %>