
<%- include ('./partials/header') %>

<div class="jumbotron covor-screen">
    <div class="container">
        <h2 class="text-right">From : <%= Letter.from %> </h2> 
        <h2>To : <%= Letter.to %> </h2> 
            <br>
            <br>

            <p>
                <%= Letter.content %>
            </p>
            <!-- <hr /> -->
            <div class="text-right">
                <b> <%-  Letter.date.toDateString() %></b>
            </div>
            </div>
</div>

 
<%- include ('./partials/footer') %>
